<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914139846579-pm8iccgea58pe5gjl96gn1ub0ht2c0h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914139846579-pm8iccgea58pe5gjl96gn1ub0ht2c0h9</string>
	<key>API_KEY</key>
	<string>AIzaSyBo4bdmSOL6eIN8kHJGuuVpxmZyiSnLOQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>914139846579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abunidaniel.Blovo</string>
	<key>PROJECT_ID</key>
	<string>blovo-d7aa9</string>
	<key>STORAGE_BUCKET</key>
	<string>blovo-d7aa9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914139846579:ios:d60e33cad0a64dc9689dc6</string>
</dict>
</plist>